div{
	color:#000000;
	background: #2ab323;
	width: 500px;
	height: 400px;
	line-height: 400px;
	border-radius:10px;
	text-align: center;

transition-property: color,width,background,border-radius;
transition-duration: 1s;
transition-timing-function: linear;
transition-delay: .5s;
transition: transform 2s;

}
div:hover{
	color:#ffffff;
	background:#78abab;
	width: 450px;
	border-radius: 20px;
	transform: translate(1000,750);
transform: rotate(30deg);
transform: skew(20deg,30deg);
}
div:active{
	color: #456789;
	background-color: #000000;
	width: 200px;
}